@model RaporUpdateDto
@{
    ViewData["Title"] = "Rapor Düzenle";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<h4 class="mt-4">Rapor Düzenle</h4>

<div class="card text-white bg-info my-3 w-50">
    <div class="card-header">Görev Bilgileri</div>
    <div class="card-body">
        <h4 class="card-title">Görev Tanımı: @Model.Gorev.Ad</h4>
        <p class="card-text">Görev Detayı: @Model.Gorev.Aciklama</p>
        <p class="card-text">Aciliyet Durumu: @Model.Gorev.Aciliyet.Tanim</p>
    </div>
</div>

<form asp-area="Member" asp-controller="IsEmri" asp-action="DuzenleRapor" method="post" class="w-50 my-2 p-3 shadow">

    <input type="hidden" asp-for="Id" />

    <input type="hidden" asp-for="GorevId" />

    <div class="form-group">
        <label asp-for="Tanim"></label>
        <input asp-for="Tanim" class="form-control" />
        <span asp-validation-for="Tanim" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detay"></label>
        <textarea asp-for="Detay" class="form-control"></textarea>
        <span asp-validation-for="Detay" class="text-danger"></span>
    </div>

    <a asp-area="Member" asp-controller="IsEmri" asp-action="Index" class="btn btn-light btn-sm">
        <i class="fas fa-chevron-circle-left mr-2"></i>Vazgeç
    </a>

    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check mr-2"></i>Güncelle</button>

</form>

@section Scripts {
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnobtrusive/jquery.validate.unobtrusive.min.js"></script>
}