@model RaporAddViewModel
@{
    ViewData["Title"] = "Rapor Ekle";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<h4 class="mt-4">Rapor Ekle</h4>

<form asp-area="Member" asp-controller="IsEmri" asp-action="EkleRapor" method="post" class="w-50 my-2 p-3 shadow">

    <input type="hidden" asp-for="GorevId" />

    <div class="form-group">
        <label asp-for="Tanim"></label>
        <input asp-for="Tanim" class="form-control" />
        <span asp-validation-for="Tanim" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detay"></label>
        <textarea asp-for="Detay" class="form-control"></textarea>
        <span asp-validation-for="Detay" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check mr-2"></i>Kaydet</button>

</form>

@section Scripts {
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnobtrusive/jquery.validate.unobtrusive.min.js"></script>
}