@model List<GorevListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<h4 class="mt-4">Gelen İş Emirleri</h4>

@foreach (var gorev in Model)
{
    <div class="card">
        <h5 class="card-header">@gorev.Ad</h5>
        <div class="card-body">
            <h5 class="card-title">@gorev.Aciliyet.Tanim</h5>
            <p class="card-text">@gorev.Aciklama</p>
            <a href="#" class="btn btn-outline-dark btn-sm">
                Raporlara Git <span class="badge badge-info"> @gorev.Raporlar.Count</span>
            </a>
            <a href="#" class="btn btn-outline-success btn-sm">
                Tamamlandı Olarak İşaretle
            </a>
        </div>
    </div>
}