<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Layout Header</h2>
    <div>
        @RenderBody()
    </div>
    <h2>Layout Footer</h2>
</body>
</html>
