@model List<AciliyetListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="mt-4">Aciliyet Listesi</h4>

<a asp-area="Admin" asp-controller="Aciliyet" asp-action="AciliyetEkle" class="btn btn-sm btn-primary my-2">Yeni Aciliyet Ekle</a>

<table class="table table-sm table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Tanım</th>
            <th class="text-center" style="width:15%">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Tanim</td>
                    <td class="text-center">
                        <a asp-area="Admin" asp-action="AciliyetDuzenle" asp-controller="Aciliyet" asp-route-id="@item.Id" class="btn btn-sm btn-info my-2">Düzenle</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center text-danger">
                <td colspan="1">Sistemde kayıtlı aciliyet bulunamadı!</td>
            </tr>
        }
    </tbody>
</table>