@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-danger lead">Bir Hata Oluştu!</h1>
        <h2 class="text-danger lead">Hatanın oluştuğu yer: @ViewBag.Code</h2>

        <h4 class="text-black-50 lead">...</h4>

        <p class="p-2">@ViewBag.Message</p>
    </div>

</body>
</html>