@model AppUserSignInViewModel
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="container">
    <div class="col-12">
        <h4 class="text-center mt-5">Kullanıcı Girişi</h4>

        <form asp-controller="Home" asp-action="Index" method="post" class="shadow w-50 mx-auto p-3 mt-4">

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <button type="submit" class="btn btn-outline-success btn-sm">Giriş Yap</button>

            <a asp-controller="Home" asp-action="KayitOl" class="btn btn-outline-primary btn-sm float-right">Kayıt Ol</a>

        </form>
    </div>
</div>