@model KullaniciKayitViewModel
@{
    ViewData["Title"] = "KayitOl";
}

<!DOCTYPE html>
<html>
<head>
    <title>Kayıt Ol</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Kayıt Ol</h1>

                <form class="shadow" action="KayitOl" method="post">

                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" name="Ad" value="" class="form-control" asp-for="Ad" />
                        <span class="text-danger" asp-validation-for="Ad"></span>
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Kaydet</button>
                </form>
            </div>
        </div>
    </div>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>