@model AppUserListViewModel

<div class="border-right" id="sidebar-wrapper">

    <div class="sidebar-heading">
        <img src="~/img/@Model.Picture" alt="@Model.Name" style="height: 10rem !important;" class="w-100 img-thumbnail" />
    </div>

    <div class="list-group list-group-flush">

        <a asp-area="Member" asp-controller="IsEmri" asp-action="Index" class="list-group-item list-group-item-action">
            <i class="fas fa-arrow-circle-down mr-2"></i> Gelen İş Emirleri
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-arrow-circle-up mr-2"></i> Tamamlanan İşler
        </a>

        <a asp-area="Member" asp-controller="Profil" asp-action="Index" class="list-group-item list-group-item-action">
            <i class="far fa-chart-bar mr-2"></i> Profilim
        </a>

        <a asp-area="" asp-controller="Home" asp-action="CikisYap" class="list-group-item list-group-item-action">
            <i class="fas fa-sign-out-alt mr-2"></i> Çıkış Yap
        </a>
    </div>
</div>